aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
cached-property
cachetools
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
dataclasses-json
DateTime
debugpy
decorator
defusedxml
distro
dnspython
et_xmlfile
exchange_calendars
exchangelib
executing
fastapi
fastjsonschema
filelock
filetype
fonttools
fqdn
frozenlist
fsspec
geojson
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
itables
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter>=1.0.0
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
korean-lunar-calendar
langchain>=1.0.0
langchain-community
langchain-core
langchain-google-genai
langchain-nebius
langchain-ollama
langchain-openai>1.0.0
langchain-text-splitters
langchainhub
langdetect
langgraph>=1.0.0
langgraph-cli[inmem]>=0.4.0
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
langchain-mcp-adapters
lxml
Markdown
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mistune
msgpack
multidict
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
ollama
openai
opencv-python-headless
openpyxl
orjson
ormsgpack
overrides
packaging
pandas
pandas_market_calendars
pandocfilters
parso
pdf2image
pdfminer.six
pdfplumber
pexpect
pillow
pip
platformdirs
plotly
prettytable
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycountry
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyluach
pyodbc
pyparsing
pypdfium2
pyspnego
pytesseract
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
requests-toolbelt
requests_ntlm
rfc3339-validator
rfc3986-validator
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
setuptools
six
sniffio
sounddevice
soupsieve
SQLAlchemy
stack-data
tavily-python
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toolz
tornado
tqdm
traitlets
transformers
types-python-dateutil
types-requests
typing
typing-inspect
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
urllib3
uvicorn
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xxhash
yarl
zope.interface
zstandard